doctype html
html
  body
    h1 Select a file :
    br
    form(action='/userImage', method='post' enctype='multipart/form-data')
      input(type='file', name='user_image')
      |   
      input(type='submit', , value='Upload')
